.chat-box {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 10px;
    font-family: Arial, sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
}

h1 {
    margin: 0 0 10px;
    color: #BB86FC;
    text-align: center;
}

#messages {
    height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    margin: 5px;
}

#chatInput {
    width: calc(100% - 60px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin: 5px;
}

#sendBtn {
    padding: 16px 24px;
    border: none;
    background: #BB86FC;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

#sendBtn:hover {
    background: #0056b3;
}

.sender {
    text-align: right;
    background: #BB86FC;
    color: white;
    margin-right: auto;
    padding: 5px;
    border-radius: 10px;
}
.receiver {
    text-align: left;
    background: #444;
    color: white;
    margin-left: auto;
    padding: 5px;
    border-radius: 10px;
}

.btnContainer {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100px;
}